body{

	background-color: Black;
}

.homeContent {
    
    position: relative;
    top: 100px;
    left: 300px;
	color: White;
	font-size: 50px;
	
}



.contactContent {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2px;
    width : 50%;
    position: relative;
    top: 50px;
    left: 250px;
    
}

.contactContent #common {
	position: relative;
	margin-top: 2px;
	letter-spacing: 2px;
	

}
    input,textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

.contactContent label {

	font-size: 20px;
	margin: 4px;
}

.aboutContent {

    position: relative;
	top: 100px;
	color: White;
	font-size: 35px;
	left: 300px;

}
.zoom {
	color: White;
	font-size: 35px;
	text-align: center;
}


.photos {
   
    position: relative;
	font: 0;
	width: 100%px;
	float: left;
	left: 10px;
}

/* Styling images in grid */
.photos img {
	display: inline-grid;
	position: relative;
	width:  220px;
	height: 200px;
	margin: 5px;
	top: 10px;
	left: 10px;
	border: 2px solid White;

}

.hi {

	position: relative;
	left: 200px;
}

.links {
    background-color: #333;
    overflow: hidden;
}


.links a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.links a:hover {
    background-color: #ddd;
    color: black;
}

.links a.active {
    background-color: #4CAF50;
    color: white;
}